.hide {
  display: none;
}

.background {
  background-color: black;
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 300;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 301; 
  background-color: var(--secondary);
}
