.toggles {
  display: flex;
  justify-content: space-between;
}

.widgets {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  width: 100%;
  overflow-y: scroll;
  height: 100vh;
  flex: 1;
}

.header {
  font-weight: normal;
  margin-bottom: 2rem;
}

.upcoming > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 2rem;
}

.history {
  margin-top: 3rem;
}

.show {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.hide {
    display: none;
}


