:root {
  /* Text Sizes */
  --font-350: 1rem;
  /* 16 */
  --font-400: 1.125rem;
  /* 18 */
  --font-500: 1.5rem;
  /* 24 */
  --font-700: 2.25rem;
  /* 36 */
  --font-800: 3rem;
  /* 48 */

  --primary: #181A23;
  --secondary: #111118;
  --accent-orange: #F09581;
  --accent-green: #76D27E;
  --accent-yellow: #ffd763;
  --accent-red: #F04B4B;
  --text-primary: #FFFFFF;
  --text-accent: #808080;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  font-size: var(--font-800);
}

h2 {
  font-size: var(--font-700);
}

h3 {
  font-size: var(--font-500);
  font-weight: 400;
}

p, select, button, div {
  font-size: var(--font-400);
  color: var(--text-primary)
}

h1, h2, h3, h4, h5, p {
  color: var(--text-primary);
}

body {
  background-color: var(--primary);
}
