:root {
  /* Colour Scheme */
  --text-light: #FFFFFF;
  --text-grey: #807F7C;
  --text-grey-2: #604949;
  --text-dark: #0E1815;
  --background-300: #F0E5CA;
  --background-400: #FDF0D3;
  --primary-200: #FDD7BA;
  --primary-300: #FECAAD;
  --primary-400: #FEAA8B;
  --secondary-400: #FF7152;
  --accent-200: #E0B1A7;
  --accent-300: #C2787F;
  --accent-400: #992947;
  --error-400: #FF5252;
  --success-400: #9EFF52;

  /* Text Sizes */
  --font-350: 1rem;
  /* 16 */
  --font-400: 1.125rem;
  /* 18 */
  --font-500: 1.5rem;
  /* 24 */
  --font-700: 2.25rem;
  /* 36 */
  --font-800: 3rem;
  /* 48 */

  --widget-width: 200px;
  --widget-height: 250px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito";
}

h1 {
  font-size: var(--font-800);
}

h2 {
  font-size: var(--font-700);
}

h3 {
  font-size: var(--font-500);
  font-weight: 400;
}

p, select, button, div {
  font-size: var(--font-400);
}

body {
  background-color: var(--background-400);
}

.page {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.content {
  width: 100%;
  margin-top: 5vh;
}

/* Widget Styles*/
.widgets {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--widget-width), 1fr)); /* Automatically create columns with a minimum width of 200px */
  grid-auto-rows: minmax(var(--widget-height), auto); /* Automatically size rows with a minimum height of 100px */
  gap: 2rem;
}

.widget {
  padding: 1.5rem;
  width: auto;
  height: auto;
  font-size: var(--font-400);
  border-radius: 12px;
  max-height: var(--widget-height);
  justify-content: space-between;
  align-items: stretch;
}

.widget-content {
  padding: 0;
}

.widget-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.widget-header h3 {
  font-size: var(--font-400);
}

.widget-header div {
  width: 30px;
}

.widget-header div img {
  width: 100%;
  height: auto;
  margin: 0;
}

.widget-primary {
  background-color: var(--primary-300);
  color: var(--text-dark);
}

.widget-accent {
  background-color: var(--accent-400);
  color: var(--text-light);
}

/* Info Widget Styles*/
.info-widget.widget-primary {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: var(--text-dark);
}

.info-widget.widget-content p {
  font-weight: bold;
  font-size: var(--font-700);
}

.info-widget.widget-footer p {
  color: var(--accent-400);
}

.info-widget.widget-footer {
  display: flex;
  justify-content: space-between;
}