:root {
  /* Colour Scheme */
  --text-light: #FFFFFF;
  --text-grey: #807F7C;
  --text-grey-2: #604949;
  --text-dark: #0E1815;
  --background-300: #F0E5CA;
  --background-400: #FDF0D3;
  --primary-200: #FDD7BA;
  --primary-300: #FECAAD;
  --primary-400: #FEAA8B;
  --secondary-400: #FF7152;
  --accent-200: #E0B1A7;
  --accent-300: #C2787F;
  --accent-400: #992947;
  --error-400: #FF5252;
  --success-400: #9EFF52;

  /* Text Sizes */
  --font-350: 1rem;
  /* 16 */
  --font-400: 1.125rem;
  /* 18 */
  --font-500: 1.5rem;
  /* 24 */
  --font-700: 2.25rem;
  /* 36 */
  --font-800: 3rem;
  /* 48 */
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--font-800);
}

h2 {
  font-size: var(--font-700);
}

h3 {
  font-size: var(--font-500);
}

p {
  font-size: var(--font-400);
}

* {
  font-family: "Nunito";
}

body {
  background-color: var(--background-400);
}