nav {
    height: 100vh;
    max-width: 300px;
    min-width: 250px;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.nav-logo {
    height: 25vh;
}

.nav-anchors {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
}

.nav-anchor {
    all: unset;
}

.nav-anchor > p {
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-anchor > p:hover {
    color: var(--accent-orange);
    text-decoration: underline;
    cursor: pointer;
}
